[2021-02-04 15:56] tlovett1 opened #4 "PHP Design Patterns"
Currently, the scaffold is very light on PHP structure. I think we want to move to more class based approaches. It would be great to get some code in place to start people in the right direction.

[2021-02-05 01:18] smy315 opened #5 "Admin Style vs Editor Style"
For both theme and plugin, there are admin-style.css and editor-style.css. Do we need both? If we do need to make admin/editor specific style updates, which file we do we update?

1) /wp-content/themes/10up-theme/assets/css/admin/admin-style.css
2) /wp-content/themes/10up-theme/assets/css/frontend/editor-style.css
3) /wp-content/mu-plugins/10up-plugin/assets/css/admin/admin-style.css
4)  /wp-conte

[2021-02-05 01:27] smy315 opened #6 "Plugin Clean Up"
Plugin is bloated with theme specific files that should be removed. For example, both the theme and plugin are adding normalize which means that out of the box, 10up WP Scaffold will load normalize two times on a site. This should only be included within the theme.

<img width="859" alt="Screen_Shot_2021-02-04_at_8_23_27_PM-2" src="https://user-images.githubusercontent.com/2092765/106976916-4beada

[2021-02-05 01:36] smy315 opened #7 "Remove Styleguide related files on Plugin"
Related to https://github.com/10up/wp-scaffold/issues/6 but plugin def should not have styleguide related files. These are for styleguide page template that is included within the theme. They are not even enqueued so no point to have this on the plugin.

[2021-02-05 01:39] smy315 commented on #7
PR: https://github.com/10up/wp-scaffold/pull/8

[2021-02-05 02:00] smy315 opened #9 "Include webpack.config.js"
With build scripts now coming from 10up-scripts, should we include webpack.config.js on root directory for both the theme and plugin? Just about every project requires some sort of updates to build script and I think this would be helpful. Maybe include a file with the following code commented out?

[code]

I def think this is a file that every project will need.

[2021-02-05 04:59] #7 closed, assigned to nobody

[2021-02-05 04:59] tlovett1 commented on #9
We could certainly do that. Anyone else have any thoughts?

[2021-02-05 07:05] fabiankaegy commented on #5
@smy315 I want to make sure I understand what you want correctly.

Do you advocate for removing the file just from the plugin or do you advocate for removing the `editor-style` in both cases and only having the `admin-style`?

If you are talking about the ladder I would advocate against removing one of them. The difference between the two is that the `editor-script` gets enqueued in the editor con

[2021-02-05 14:32] smy315 commented on #5
@fabiankaegy I am aware of what is happening under the hood and the intent for having two separate files. Concern is usage based on how 10up Scaffold (https://github.com/10up/theme-scaffold) has been utilized the past few years with same structure. I've seen projects where duplicate code are added and on most projects, one is left blank and all the admin/editor styles are added on one directory an

[2021-02-05 15:23] fabiankaegy commented on #5
@smy315 Yeah I 100% agree :)

When I looks not at whats there but what would be Ideal I think that in an ideal case there would be one editor css where you can do overrides but not having to re import all the block styles in two places.

In an ideal Gutenberg world the entire frontend stylesheet would get enqueued in the editor with the editor styles wrapper. And then there is a separate file to o

[2021-02-11 17:54] joesnellpdx commented on #9
I suggest this plus clear guidance / reference in the readme.

[2021-02-12 16:57] petenelson opened #10 "Use single require_once in a loop to load files"
For all of the files loaded here https://github.com/10up/wp-scaffold/blob/47fc15dc26ba6f57991e2cfd4ddab5827bd19c91/themes/10up-theme/functions.php#L19 would it make sense to do something like this for less repetitive code?

[code]

[2021-02-14 02:48] smy315 commented on #6
https://github.com/10up/wp-scaffold/pull/11

[2021-02-14 03:07] smy315 opened #12 "includes/blocks/blocks.js on Package.json"
On package.json (https://github.com/10up/wp-scaffold/blob/trunk/themes/10up-theme/package.json#L27), there is a blocks entry (includes/blocks/blocks.js) but this does not exists on the includes folder. Unless I'm missing something, this entry should be removed or file is missing.

Maybe instead of needing to add index.js for each custom block on package.json like on https://github.com/10up/wp-scaf

[2021-02-24 13:00] nicholasio commented on #4
IMO if we're thinking of giving more structure to the PHP side of things and potentially introducing helper classes and utilities it would make sense to make anything reusable in a composer PHP package.

[2021-03-12 15:27] saltcod opened #18 "Standardize structure for block styles, variations, extensions, filters etc. in the Theme Scaffold"
Adding block styles is an extremely common pattern out in the "wild". Block variations are becoming more common as well.

I think it would be valuable to outline structure for core block styles and variations in the new theme.

Perhaps these could live here:

[code]
I think block styles and variations have the same importance as the example-block we're enqueuing. It would be worth adding this stru

[2021-03-17 23:40] nicholasio opened #21 "Set up lint-staged + hustky"
The wp-scaffold is missing the husky + lint-staged setup which runs eslint and phpcs on every commit.,

I suggest adding that to the package.json at the root so that we have one set up linting both plugin and theme.

[2021-03-25 18:44] ryanwelcher commented on #9
@smy315 The @10up/scripts package has a fair amount of configuration options already  ( albeit not documented yet ). This is a great approach to more complicated additions but maybe we can hit more of the common ones so they can be passed via the `package.json` file the same way we have entry points, paths to CSS, etc?

Personally, I think we should document this rather than providing an example f

[2021-04-02 18:38] ryanwelcher commented on #12
@smy315 we need an entry point for each block to be able to reference it in the [block.json](https://github.com/10up/wp-scaffold/blob/trunk/themes/10up-theme/includes/blocks/example-block/block.json#L18) file for that block.

The `register_block_type_from_metadata` call in the r[egister.php](https://github.com/10up/wp-scaffold/blob/trunk/themes/10up-theme/includes/blocks/example-block/register.php

[2021-04-02 18:41] ryanwelcher commented on #6
@smy315 @tlovett1 this looks to have been addressed? Can we close it?

[2021-04-02 19:29] smy315 commented on #6
Yup https://github.com/10up/wp-scaffold/pull/11 was merged which addressed this issue.

[2021-04-02 19:29] #6 closed, assigned to nobody

[2021-04-02 19:30] smy315 commented on #12
@ryanwelcher got it. Closing this out.

[2021-04-02 19:30] #12 closed, assigned to nobody

[2021-04-07 17:37] ryanwelcher opened #24 "Remove prop-types."
**Is your enhancement related to a problem? Please describe.**
We have removed prop-types from @10up/eslint-config for WordPress. We should update it here as well.

**Describe the solution you'd like**
Remove from package.json and the related files in the example-block.

[2021-04-08 16:27] smy315 commented on #9
@ryanwelcher, you and TL provided more info about this just now. And it's also documented on 10up-scripts repo (li-comment-14265). I think we can close this out here since conversation belongs on 10up-scripts repo.

[2021-04-08 19:08] Shelob9 opened #26 "Babel error when running Jest tests"
**Describe the bug**

When using the `npm run test` command, from the root of the repo or the root of the theme, I get errors like this and the tests fail:

[code]
**Steps to Reproduce**
1. Download wp-scaffold
2. Add "themes/10up-theme/includes/blocks/example-block/test.test.js"
3. Add any test to that dir `test( 'something', ()=> { expect(1).toBe(1)`;
4. See error
5. Run `npm run test` from the

[2021-04-08 20:12] Shelob9 opened #27 "Add jest unit tests for example block"
By default, there are no Jest tests for the example-block. To encourage testing, I want to add some basic tests for the React components that are used to make the block.  I am mainly adding snapshot tests, as those will be useful immediately on the project and will be easy to update.

I am working on a PR, but ran into #26

[2021-04-09 03:24] #9 closed, assigned to nobody

[2021-04-21 11:41] darylldoyle opened #29 "Theme assets aren't enqueued with dependencies or versions"
**Describe the bug**
JS within the theme isn't enqueued with its automatically generated dependencies or version. This is due to the path being passed into `Utility\get_asset_info()` is incorrect.

The `Utility\get_asset_info()` function uses the following path `TENUP_THEME_PATH . 'dist/' . $slug . '.asset.php'`. Note that this doesn't include the `js` or `css` directory, which is where the assets

[2021-04-22 14:26] #29 closed, assigned to nobody

[2021-04-30 20:53] joesnellpdx opened #30 "Add Allowed Blocks to ensure only intentional blocks are enabled"
**Is your enhancement related to a problem? Please describe.**
- Ensure only intended blocks are enabled from a commonly used list of blocks
- Ensure this pattern if followed on projects going forward to prevent *new* core blocks from being enabled without passing engineering (styling, functionality)

**Describe the solution you'd like**
Allowed blocks list enabled

[2021-05-04 15:35] saltcod opened #34 "LiveReload is working, but CSS injecting is not"
**Description**
Live reloading works in the current setup, what does a full page refresh when there are CSS changes. The expected behavior, and what worked in the old scaffold, is that CSS changes would be injected without a page reload.

**Steps to Reproduce**
1. $ npm run watch
2. open localhost:300x
3. Make a css change, save the file
4. See the entire page refresh instead of the css being inje

[2021-05-07 11:44] #21 closed, assigned to nobody

[2021-05-11 14:59] saltnpixels opened #36 "Adding theme support for better nav widgets and ADA support"
**Is your enhancement related to a problem? Please describe.**
Menus output as widgets are wrapped in div and are not ADA compliant.
With WordPress 5.5 this has been fixed. It outputs a nav element, and has aria-labels included.
To use it, it must be added as a theme support.
Currently `navigation-widgets` is not there.

https://make.wordpress.org/core/2020/07/09/accessibility-improvements-to-widg

[2021-05-20 13:30] smy315 opened #37 "Eslintignore missing on Theme directory"
Theme directory does not have a eslintignore at the moment. Plugin directory has one (/mu-plugins/10up-plugin/.eslintignore) so copy this one over to the theme?

Also, remove `webpack.config.babel.js` on /mu-plugins/10up-plugin/.eslintignore since it's no longer needed.

Screenshot of eslint showing errors for a third party file placed within vendor folder:
![Screen Shot 2021-05-20 at 9 27 31 AM](

[2021-05-20 13:33] smy315 commented on #34
@saltcod fix needs to be made on 10up-toolkit so want to create an issue here https://github.com/10up/10up-toolkit/issues instead?

[2021-05-28 13:38] sharazghouri opened #39 "Module build failed (from ./node_modules/mini-css-extract-plugin/dist/loader.js): TypeError: $ is not a function"
**Describe the bug**
![image](https://user-images.githubusercontent.com/17900945/119991719-2be76b00-bfe3-11eb-9857-7b4b4add50a9.png)

**Steps to Reproduce**
npm install
npm install -dev
npm run start

**Expected behavior**

CSS file not compiling and giving an error you can see the screeshot. It must be compile smothly.**Screenshots**
![image](https://user-images.githubusercontent.com/17900945/119

[2021-05-29 06:08] sharazghouri commented on #39
An error has gone if I add .babelrc.js with this configuration

[code]

[2021-06-17 17:35] #24 closed, assigned to nobody

[2021-07-01 16:00] bengreeley opened #46 "Add Child Theme Support"
Currently the scaffolded theme in the scaffold works well when the theme is used as a parent theme, but requires modification to work as a child theme. I'd like to propose we make some minor function changes in the theme to make sure it's ready to be used across a variety of types of themes.

The functions `get_template_directory_uri()` and `get_template_directory()` could be replaced with `get_st

[2021-08-17 18:17] turtlepod commented on #39
same issue here.
also using windows

[2021-08-25 22:12] claytoncollie commented on #46
@bengreeley I looked at this issue and I don't think changing those functions is the way to go. I followed your suggestions, installed a child theme, and broke the site due to `core.php` not loading properly on the parent theme in the `functions.php` file.

I started a pull request for this issue at #50 with my suggested changes. So far I am following the naming convention for script and style han

[2021-08-25 22:47] claytoncollie commented on #36
@saltnpixels Like this? #51

Since the theme doesnt register any widget areas, I disagree that this should be added by default. As I pointed out in the PR, this could be added since 1) many developers might not know about it and 2) the theme should be accessible by default.

[2021-08-26 20:22] claytoncollie commented on #46
@bengreeley After thinking about this more today, you are saying the scaffolded theme should be able to be used as a child theme. I read it as the scaffolded theme is the parent theme and then support needs to be added to then layer a child theme on top. I'll do some testing for both scenarios and put it into my PR.

[2021-08-27 21:04] claytoncollie commented on #37
@smy315 I added a PR for this issues at #52

[2021-08-27 21:09] claytoncollie opened #53 "Deprecation warning in block.json when used with WordPress 5.8"
This repo is throwing deprecation warnings when used with WordPress 5.8 due to incorrect structure in the `block.json` file for the Example Block.

**Steps to Reproduce**
1. Set `WP_DEBUG` to `true` in wp-config.php
2. Go to wp-admin on to see warnings

**Expected behavior**
Should not see any errors when `WP_DEBUG` is set to `true`

**Environment information**
 - WordPress version: 5.8

[2021-08-27 21:14] claytoncollie opened #55 "Filter block_categories is deprecated as of WordPress 5.8"
The filter `block_categories` is deprecated as of WP 5.8.0 in favor of `block_categories_all`

**Steps to Reproduce**

1. Install Block Library plugin and activate
2. Activate all blocks with filter in README
3. set WP_DEBUG to true
4. Create a new post
5. Expected behavior
6. Expected to only see the editor.

**Describe the bug**

Saw the editor along with deprecation warning messages in the admi

[2021-08-31 16:57] fabiankaegy opened #57 "Add `theme.json` with sensible defaults to the Theme Scaffold"
This is ment to be a tracking ticket for the different action items that will be needed in order to add support for `theme.json` in the Theme Scaffold.

The Dev Note on make.wordpress.org says that these are the sideeffects of just adding an empty theme.json file to a theme:

## Tasks:
- [ ] Add Theme Colors
- [ ] Add Theme Spacing
- [ ] Add Theme Fonts

## Questions:
- [ ] If we follow the [IE: T

[2021-08-31 16:59] fabiankaegy commented on #57
#33 This PR has been closed because of this

[2021-09-02 10:23] fabiankaegy commented on #30
On a call with @joesnellpdx we briefly talked about this task and came up with the following possible solution.

The goal here is that we want to have a way to dissable all Core Blocks (all blocks of a given namespace) unless we specifically whitelist these blocks. The caveat here is that with future WordPress Updates the new blocks that get introduced from Core should also automatically be on the

[2021-09-03 18:29] claytoncollie commented on #10
hey @petenelson I was thinking about this issue as I dig into my projects at 10up. I see many projects use the scaffold's pattern with a bunch of `require_once` staked up in the functions.php file. An alternative to this is your solution. Another alternative is to put the file declarations into the composer.json file in the [autoload](https://github.com/10up/wp-scaffold/blob/47fc15dc26ba6f57991e2c

[2021-09-10 21:53] joesnellpdx opened #58 "Automated Performance Monitoring"
Enable automated performance monitoring in the scaffold

One option is to utilize [Perfume.js](https://zizzamia.github.io/perfume/), but others should be explored.

[Perfume.js tutorial](https://www.jeffreyknox.dev/blog/building-a-simple-interface-for-logging-web-performance-metrics/?utm_source=Perf.email&utm_campaign=478126f56c-Perf+Email+%2383&utm_medium=email&utm_term=0_7cba5dc7bd-478126f56c-13

[2021-09-10 22:12] joesnellpdx commented on #57
@fabiankaegy

- [x] Yes, we can assume we are supporting IE11.
- [ ] Enable the Block Templates? I don't know. What are your thoughts?
- [x] Remove drop caps by default? Yes - this is a good easy pattern to add to the `theme.json` by default and it can be assumed it will be removed by most projects out of the box

[2021-09-17 14:58] bengreeley commented on #46
Hey @claytoncollie thanks so much for putting this PR together! I found some issues with it, which I'll log below. For my testing I cloned your branch and grabbed the theme folder and added ` * Template:     twentytwenty` to style.css to be a child theme of TwentyTwenty.

**Issues:**
- When activating the child theme I get an error `failed to open stream: No such file or directory in /var/www/html

[2021-09-27 12:09] fabiankaegy commented on #57
## Additional things I would like to cover as part of this introduction:
- [ ] Standardize how we load custom fonts in the editor (through defining the font in the theme.json and loading it via `add_editor_style`)
- [ ] Standardize how we use font size systems so that we no longer have the issue of differing `rem` values in the editor

[2021-10-07 04:00] dainemawer opened #59 "Add ct.css"
**Describe the solution you'd like**
Harry Roberts recently released a great little CSS utility that helps identify performance issues on sites called `ct.css`.
It is a diagnostic CSS stylesheet that looks something like this: https://csswizardry.com/ct/test/

This has a ton of benefits for adopting a performance culture at 10up where engineers can see with little effort what's being blocked or wh

[2021-10-07 08:05] fabiankaegy commented on #57
I had a very productive conversation with @willhowat about this and he shared some of his findings from recent projects with me. Based on that conversation I think that the best way forward it to start by having a barebones `theme.json` to start with so that projects have all the changed functionality from the beginning.

Once the whole responsive and contextual quesion is a bit more clear we can

[2021-10-22 20:37] joesnellpdx commented on #59
@dainemawer How I read this, this will be purely conditional and only be reflected with the URL param listed above.

I see no hesitation in adding it to our projects for easy testing.

Included with this, I'd like to have an update to the upcoming theme readme (maybe add a performance section) that is being added by [@fabiankaegy 's PR](https://github.com/10up/wp-scaffold/pull/60) to add `theme.js

[2021-10-24 05:16] dainemawer commented on #59
@joesnellpdx that's exactly right - the CSS would not load unless the page was loaded with a URL param. We could also couple this with the `WP_ENVIRONMENT_TYPE` to ensure that this only occurs on `development` for instance. Very happy to add documentation to the `README.md` let me draft a PR!

[2021-10-27 12:54] xavortm commented on #58
The initial exploration of perfume (and others) I did was to make it work with GA and report previous data, but that didn't work out well for me (not enough GA experience I believe...) but adding this to the scaffold would require the <head> GTM script and instance to be connected, which I doubt is the idea here; so it's about the reporting to the developer on the spot. Some notes on that:

The al

[2021-10-27 15:10] joesnellpdx commented on #58
@dainemawer ... see @xavortm 's comments above.

[2021-11-12 12:19] dainemawer commented on #59
@joesnellpdx - have a PR for this: https://github.com/10up/wp-scaffold/pull/61
Not sure who to assign it to, let me know!

[2021-11-16 16:22] fabiankaegy opened #62 "Simplify & standardize how to add custom blocks to the theme scaffold"
**Is your enhancement related to a problem? Please describe.**

Currently, the way to add a new block is rather cumbersome. You have to first create a new JS entry point in the `package.json` file like so:

[code]

Next you have to require the PHP file like so:

[code]

**Describe the solution you'd like**

I think both of these steps could be skipped if we are able to automatically create an entr

[2021-11-18 18:28] joesnellpdx opened #63 "Add Dark Mode support and guidance"
Dark mode is a display options for many.
Currently, we most often leave it alone and avoid intentionally adding inentional dark mode styles.

Per this [article](https://developer.chrome.com/blog/auto-dark-theme/), Google may be auto enabling an applying a dark mode theme to sites.

There are a few options to explore:

- Intentionally disable dark mode with this: `<meta name="color-scheme" content=

[2021-11-19 17:04] #57 closed, assigned to fabiankaegy

[2021-12-06 13:30] xavortm commented on #63
I think that if we add the dark mode support by default, it would be the obvious decision that the developer has to make - continue supporting it or disable the dark mode support (which will be documented).

And for dark mode tactics on the CSS properties, I found this to work well:
[code]

The idea is that each color has an "invert". This is a color you can place as the opposite (background-foreg

[2021-12-14 00:02] #59 closed, assigned to dainemawer

[2021-12-14 03:49] dainemawer commented on #63
@joesnellpdx - my 2 cents here is to follow on what industry giants are doing - Slack, Bear, Sketch, Zeplin etc all by default inherit Dark Mode from the OS preference and provide an option to override this (not sure how, maybe a JS script or CSS override)

I'd also like to find some way of programmatically calculating dark mode colours for accessibility - often Dark Mode is just an "invert" of co

[2021-12-14 15:41] devinle commented on #63
@joesnellpdx totally onboard with Daine here. And what @xavortm outlines is really great. I love the desaturation mention. We should definitely aim to support dark mode. CSS Props are the best way to go IMHO.

[2021-12-15 14:54] Firestorm980 commented on #63
Backing on what others have said ( @dainemawer and @xavortm ) I think what I'd like to see in the scaffold:

- Update our colors.css to include `@media (prefers-color-scheme: dark)` or similar as an example of a simple implementation that'll respect the OS + browser setting.
- Include comments with the `meta` mentioned so that if a color scheme hasn't been planned in discovery, the browser can't m

[2021-12-20 12:50] xavortm commented on #62
I think this is relevant: https://github.com/10up/10up-toolkit/issues/28 - not sure where would be the best place to have it, by I think here in the wp-scaffold would make sense.

There is also a PR already open for this: https://github.com/10up/10up-toolkit/pull/29 which highlights an important issue: _"The templates are managed in this repo and we'll need to keep them up to date as GB moves forw

[2022-01-05 20:58] jeffpaul opened #67 "Add assets for WordPress.org deployment via GitHub Actions"
**Is your enhancement related to a problem? Please describe.**
As originally suggested in https://github.com/10up/plugin-scaffold/issues/100, we might want to consider adding the necessary files to deploy plugins to WP.org.  Before I dig deeper into submitting a PR here, is that something that would be desired since this is mostly (only?) useful for publicly released plugins?

**Describe the solut

[2022-01-12 20:55] #53 closed, assigned to nobody

[2022-01-12 20:56] #55 closed, assigned to nobody

[2022-01-18 00:04] rdimascio opened #70 "SVG Helper"
### Is your enhancement related to a problem? Please describe.

We end up adding an SVG helper to every project, usually a variation of [this template tag](https://gist.github.com/kdo/b0846a9630061c12a9b5fcfcc64df7f3), and would benefit from a unified approach added the our theme scaffold.

While this helper function works 90% of the time, I think something to consider is that this approach uses `

[2022-01-18 15:26] Firestorm980 commented on #70
Just wanted to note, we were considering something similar in the old scaffold. See previous discussion for which direction that was going (ultimately not merged): https://github.com/10up/theme-scaffold/issues/120

Consistency would be nice between all contexts.

Places we'd want this to work so far:
- On front end templates (authored by us)
- Gutenberg / React (editor and front end)
- Other JS (v

[2022-01-18 23:32] rdimascio opened #71 "`eslint` errors on fresh install"
### Describe the bug

Running `npm i && npm run build` on a fresh install throws eslint errors in the example block.

### Steps to Reproduce

1. Clone the repo
2. Run `npm i` in root folder
3. Run `npm run build` in root folder

### Screenshots, screen recording, code snippet

[code]

### Environment information

- MacBook
- MacOS@12.1

### WordPress information

_No response_

### Code of Conduct

[2022-01-18 23:45] rdimascio opened #72 "Upgrade to `10up-toolkit@2.0.0`"
### Is your enhancement related to a problem? Please describe.

[10up-toolkit@2.0.0](https://github.com/10up/10up-toolkit/releases/tag/10up-toolkit%402.0.0) was just released, which upgrades a lot of packages and removes a lot of polyfill code required for IE11. Now that new projects are dropping IE11 support, we can safely upgrade our version in the scaffold. Will probably resolve #71

### Design

[2022-01-20 18:03] rdimascio opened #73 "Upgrade to `node v16`"
### Is your enhancement related to a problem? Please describe.

We should use `node v16` by default. Internal communications - https://10up.slack.com/archives/C105936H3/p1642701456049200

### Designs

_No response_

### Describe alternatives you've considered

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-01-21 11:24] fabiankaegy commented on #62
I want to add some more thoughts to this as I think the flow for blocks can be greatly improved and streamlined. I have also opened up an accompanying issue on the 10up-tookit repository (10up/10up-toolkit#130) that would allow us to skip adding the scripts to the entrypoint of webpack and needing to register the files.

The next step then would be to streamline the PHP side of things to make that

[2022-01-21 11:49] fabiankaegy opened #75 "Simplify & standardize how to add block patterns to the theme scaffold"
### Is your enhancement related to a problem? Please describe.

Block patterns can consist of a lot of markup and it is rather difficult to manage that using the plain string of markup like it is currently done here: https://github.com/10up/wp-scaffold/blob/17b7ead7bed851f09f896db39246a37c2b27874a/themes/10up-theme/includes/blocks.php#L118-L145

### Proposed Solution:
Create a "block-patterns" fol

[2022-01-21 12:38] fabiankaegy opened #76 "Standardize usage of semantic block categories and addition of block collection"
### Is your enhancement related to a problem? Please describe.

Currently, the Theme Scaffold encourages the usage and definition of a custom block category to group all blocks into one place in the block inserter. This however is not a great editorial experience because the blocks should really be grouped by the actual categories or custom ones that have semantic meaning about the type of element

[2022-01-23 21:00] benlk opened #77 "Why does a .gitkeep file have PHP in it?"
### Describe the bug

The `.gitkeep` file https://github.com/10up/wp-scaffold/blob/trunk/mu-plugins/10up-plugin/includes/classes/.gitkeep contains PHP code.

Is this because:
- the PHP in this file was erroneously added to the existing `.gitkeep` file instead of creating a new `.php` file to contain it? In this case, the file should be renamed.
- the `.gitignore` file was created by copying an exi

[2022-01-24 14:14] fabiankaegy commented on #62
I've added an initial implementation of how this could work in #78. I am not certain that it is the most performant & efficient way of achieving the goal but it serves as a proof of concept for how this could be done.

[2022-01-24 22:45] dmtrmrv opened #79 "Add Initial Markup"
### Is your enhancement related to a problem? Please describe.

Most of the sites we build require common markup elements like header, main area, footer, and a "skip to main content" link. We can provide this markup in the scaffold. Following structure worked well for me on previous projects and I don't recall a case when I needed something completely different:

[code]

This is a combined markup

[2022-02-02 03:57] dainemawer commented on #79
@dmtrmrv - I like this idea - I see the CSS side of things potentially being removed quite often depending on the project.
Also, Im assuming that the markup example above would be separated by each WP template, so where you have `<header>` that markup, in the theme itself would actually be placed in `header.php`?

We may also want to add any `role` and `aria-label` to HTML5 semantic elements for c

[2022-02-02 03:59] dainemawer commented on #77
My gut tells me this is just an oversight - @tlovett1 any ideas?

[2022-02-02 04:02] dainemawer commented on #70
+ 1 from me in coming up with a function that handles this. I have often gone with embedding 1 SVG sprite file into the DOM and the function referencing `<use>` tags - this method makes 1 server request on page load and any and all SVG's can be referenced pretty easily:

[code]

[2022-02-02 04:29] dainemawer opened #80 "Add importAndRun function for Code Splitting"
### Is your enhancement related to a problem? Please describe.

Based on a recent Slack conversation: https://10up.slack.com/archives/G11CA43FW/p1643728684014569
@rdimascio and I believe it would be a great idea to include this boilerplate JavaScript code into `frontend.js` so that engineers can better work with dynamically imported JavaScript components:

[code]

The above allows us to cleanly an

[2022-02-03 19:42] rdimascio commented on #58
I think we need to refine what we mean by performance monitoring in the context of the scaffold. While I think setting up Perfume.js w/ GA or SiteSpeed w/ Docker/Grafana are great options for remote performance monitoring, I feel like they are only going to be used on a small percentage of projects. And performance monitoring in a local environment during development is rarely reflective of perfor

[2022-02-04 21:09] joesnellpdx commented on #79
@dmtrmrv

Additional consideration - ensure that we can easily override the content scrolling when we have an overlay via a class added to the body/html.

Use case: when we have a mobile nav (or dialog) open (and it takes over the screen) when we scroll - it should only scroll the contents of the nav and the content behind should be locked.

This should also work when we have a stick nav.

[2022-02-04 21:43] joesnellpdx commented on #58
@rdimascio @xavortm

I agree, we need to define this a little more clearly.

We do have remote performance monitoring as part of [support monitor](https://supportmonitor.10up.com/environments/vrt-10up-com) - see Web Vitals.

And, we'd also like mechanisms to help measure in flight performance budgets and raise flags when pertinent.

They key for me, what tooling can we add to best enhance any curr

[2022-02-09 05:23] dainemawer commented on #58
Agreed, this ticket does require some more clarity. So here it goes!

**Web Vitals**
Web Vitals is a great library that was released around about the same time as the initial release of the Core Web Vitals initiative. It is a tiny library (1KB), which is great, however it is specifically focused on tracking metrics on specific web vitals (LCP, FID, CLS, TTFB, FCP). The other upside the library has

[2022-02-09 05:25] dainemawer commented on #79
@dmtrmrv I put this together a while ago: https://github.com/dainemawer/html5-starterkit/blob/master/src/index.html maybe you will find some use from it!

[2022-02-09 13:52] dmtrmrv commented on #79
Thanks @dainemawer, we can def use a lot from your boilerplate. It's pretty extensive.

@joesnellpdx I'd love to add those styles too. Maybe as part of a separate PR? We can keep this one markup-specific.

I'll put together a PR so we can all review.

[2022-02-09 16:44] tlovett1 commented on #77
I'm sure this was just an oversight. Feel free to submit a PR emptying the file.

[2022-02-10 01:30] tylercherpak opened #81 "Composer phpcs lint doesn't work in most cases."
### Describe the bug

Since most WordPress projects will have multiple plugins, running `phpcs .` from the wp-content directory will run out of memeory.

### Steps to Reproduce

1. Install a few plugins
2. Run `composer run lint`
3. See error when it runs out of memory

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-02-12 01:50] #73 closed, assigned to nobody

[2022-02-16 07:54] fabiankaegy commented on #75
Thinking about this some more I think the API for this should be even simpler. The goal we should be aiming for is that patterns work the same way as page templates in core. They are completely self-contained to one file.

[code]

This pattern file should be located in a folder named `patterns` in the root of the theme. The theme then includes this file and converts it to this internally:

[code]

[2022-02-16 08:02] fabiankaegy commented on #75
This also aligns with what Core has planned for patterns so in the future we can remove this shim in favor of the core API:
https://github.com/WordPress/gutenberg/pull/36751

The approach in this PR is exactly what I had in mind.

[2022-02-16 14:50] tlovett1 commented on #75
Sounds like the right approach to me.

[2022-02-16 16:04] fabiankaegy commented on #75
We decided to abandon this approach in favor of waiting for core to implement it here: https://github.com/WordPress/gutenberg/pull/36751

[2022-02-16 16:04] #75 closed, assigned to fabiankaegy

[2022-02-21 12:23] darylldoyle commented on #4
@tlovett1 I've been thinking about this recently; the way we do this in most projects I've seen so far is the same as this PR: https://github.com/10up/wp-scaffold/pull/13.

Whilst most engineers at 10up will be used to this; I wonder if now is an opportune time to re-think the structure.

For example, one of the things I dislike about the current method is that we use `Plugin.php` to initialise al

[2022-02-21 12:29] nicholasio commented on #72
I totally missed this issue but I have updated 10up-toolkit to 2.x already in https://github.com/10up/wp-scaffold/commit/81ea51f270f5c9602a0f56a0422c89937e5125ef

[2022-02-21 12:29] #72 closed, assigned to nobody

[2022-02-21 12:29] nicholasio commented on #71
This should be fixed after https://github.com/10up/wp-scaffold/commit/81ea51f270f5c9602a0f56a0422c89937e5125ef

[2022-02-25 10:12] fabiankaegy commented on #62
Once this task and its parter on the 10up-toolkit repo (https://github.com/10up/10up-toolkit/pull/132) are done this here: https://github.com/WordPress/gutenberg/pull/39049 is a really cool exploration into making it possible to use `@wordpress/create-block` to add a new block to an existing project. And since blocks will be completely self-contained by that point this can be a great efficiency he

[2022-02-25 17:03] #62 closed, assigned to fabiankaegy

[2022-03-03 13:43] willhowat opened #88 "Rapid UI component scaffolding"
### Is your enhancement related to a problem? Please describe.

One of the common repeatable tasks we face during theme development is the setup of UI components and the creation of supporting assets... partials, CSS, JS etc. Often this takes the form of copy/paste a previous similar example, strip it down and re-factor to our needs.

I believe it would be helpful to include a method to rapidly sc

[2022-03-03 13:57] fabiankaegy commented on #88
@dinhtungdu I know you've also recently looked at code generation tools for your work on the cypress test utils library. Curious whether you have anything to share here also :)

[2022-03-03 14:24] willhowat commented on #88
Thanks @fabiankaegy ...

@dinhtungdu I'd be really interested to hear your thoughts.

[2022-03-03 14:56] willhowat opened #90 "Extend supported colour formats in the styleguide template"
### Is your enhancement related to a problem? Please describe.

The scaffold style guide provides a section displaying the CSS colour palette setup in [them]/assets/css/frontend/global/colors.css. This currently only supports the use of HEX values.

We are more and more commonly adopting alternate colour formats.
Therefore extending the style guide to incorporate these will ensure continued adopti

[2022-03-03 19:06] #90 closed, assigned to willhowat

[2022-03-04 18:13] nicholasio commented on #71
this is definitely fixed. Closing this now.

[2022-03-04 18:13] #71 closed, assigned to nobody

[2022-04-01 11:58] fabiankaegy opened #99 "Block registration from within the theme is broken in upcoming WordPress release"
In my testing for the upcoming WordPress 6.0 release at the end of May I've found an issue with how we register blocks within the theme scaffold. In order to even be able to register bocks from within a theme, a workaround was added here: https://github.com/10up/wp-scaffold/blob/a2586e31dcea350faa6d28373e606c17a045d44d/themes/10up-theme/includes/blocks.php#L51 to override the `plugins_url` value w

[2022-04-01 12:02] fabiankaegy commented on #99
I have created a patch with core here: https://core.trac.wordpress.org/ticket/55513 but I don't know whether it would get accepted and also whether it could land before the WordPress 6.0 feature freeze.

Flagging this to @joesnellpdx and @tlovett1

_(The track ticket I created was a duplicate. Added my comment there: https://core.trac.wordpress.org/ticket/54647#comment:10)_

[2022-04-01 12:08] fabiankaegy opened #100 "Align Pattern registration flow with new API's in WordPress 6.0"
Since WordPress 6.0 it is possible to register patterns by just placing a `php` file into the `/patterns` directory in the root of the theme. This approach should be adopted by the theme scaffold.

[2022-04-01 13:46] Firestorm980 commented on #5
and...

I think it is worth mentioning our transition away from the Webpack plugin has already started via: https://github.com/10up/wp-scaffold/pull/69/files. Use of https://developer.wordpress.org/block-editor/how-to-guides/themes/theme-support/#editor-styles is encouraged now in the manner that the second quote is referencing.

So this issue can fully focus on how to structure the files / direct

[2022-04-01 13:50] fabiankaegy commented on #5
@Firestorm980 thanks for raising this issue again. As of the updates that were made in #69 there is no more `editor-style` file anymore. The frontend stylesheet gets enqueued in the editor and scoped to the `.editor-styles-wrapper` by WordPress Core. WIth no escape hatch.

Therefore we introduced a new `.editor-style-overrides` that is really only meant to be used to alter the styles in / of the e

[2022-04-01 15:32] Firestorm980 commented on #70
@joesnellpdx @dainemawer @rdimascio So, here's an idea for use in all the contexts we want: what if we made a custom element to help handle this?

The downside, it would be dependent on JS to work. The upside, is it should work in all contexts (It should work in React already. Sounds like deeper compatibility is planned for the next major release, v19. See https://custom-elements-everywhere.com/ a

[2022-04-05 08:55] dainemawer commented on #70
I'd love to see some `web-component` work creeping into our tools and processes.
My only concern would be some kind of progressive enhancement - maybe we render a fall back in a `<noscript>` tag?

Sounds like we can retain accessibility features as well.

Otherwise Im aboard with that solution!

[2022-04-05 20:23] joesnellpdx commented on #70
@Firestorm980 @dainemawer @ryanwelcher

I don't have any issue with going with web components or reliance on JS at this point in time in web development (please push back if you disagree).

My main concern is more the block editor than anything else (admin).

If we feel we can prototype this in our scaffold (and use it with the [icon picker](https://github.com/10up/block-components/tree/develop/co

[2022-04-05 23:12] joesnellpdx opened #101 "Enhancements to support the upcoming 10up UI plugin"
### Is your enhancement related to a problem? Please describe.

Provide enhancements to the scaffold to enable and manage features of the [UI plugin](https://github.com/10up/wp-scaffold-ui)

Examples may include:

- Establishing theme.json defaults
- Enabling php partials from plugin and passing attrs from the theme
- Managing any necessary settings
- Global branding controls and levers (as needed

[2022-04-07 12:04] fabiankaegy commented on #99
The patch I've worked on has been merged into core here: https://core.trac.wordpress.org/changeset/53091

This means we will likely (unless someone finds issues with it and reverts the change) be able to remove our hacky solution of filtering the `plugin_url` in order to be able to register blocks within themes.

We will still need to make sure that every project that uses the filter removes it be

[2022-04-07 12:07] fabiankaegy opened #102 "Add scaffold for usage of the Fonts API introduced in 6.5"
WordPress 6.0 will likely include the new Webfonts API which will make it much easier to register and load custom fonts. This should be incorporated into the scaffold.

[2022-04-07 15:07] joesnellpdx commented on #99
@fabiankaegy

We need defined steps to follow to pass on to DEs and Tech Leads how to 1) remove filter and 2) instructions for timing and implementation.

I'm assuming we will have to have an implementation in place and pull the trigger at the same time we upgrade to 6.0? I also assume this means there will be some risk in issues during this transition and for sites that might auto update (thinkin

[2022-04-07 15:30] joesnellpdx commented on #99
@fabiankaegy

I see the patch guidance here: https://github.com/10up/wp-scaffold/pull/103/files
Thanks!

Let me discuss next steps with @tlovett1 today.

[2022-04-07 15:30] fabiankaegy commented on #99
@joesnellpdx Yes working on it. I have just created a draft pr #103 which would be my recommendation for how projects actually solve this issue. It would allow us to deploy the code even before WordPress 6.0 gets released and therefore make it a seamless update (at least from this perspective).

I'm keeping it as a draft for now till at least the first / second beta version of 6.0 to properly test

[2022-04-07 15:34] fabiankaegy commented on #99
Also just for the record I have created the [WordPress 6.0 Milestone](https://github.com/10up/wp-scaffold/milestone/1) here on the scaffold to keep track of all the various things we want to get included for 6.0

[2022-04-07 19:40] tlovett1 commented on #99
Makes sense to me. Let's discuss in the next block editor meeting. Thanks for driving this @fabiankaegy !

[2022-04-08 10:02] dsawardekar opened #104 "Proposal for Modular WP Scaffold using Composer"
### Is your enhancement related to a problem? Please describe.

Currently, WP Scaffold is used to bootstrap new projects at 10up. After the project is underway it can be useful to re-integrate updates to the scaffold. At the moment, such an update has to be done manually. Similarly it is difficult to pull bug fixes back into the project. Lastly, any new features that are added to the wp-scaffold a

[2022-04-08 17:08] joesnellpdx opened #105 "Add Tailwind Support to WP-Scaffold"
### Is your enhancement related to a problem? Please describe.

**Enhancement:** Add Tailwind v3 support to WP-Scaffold.

_A utility-first CSS framework packed with classes like flex, pt-4, text-center and rotate-90 that can be composed to build any design, directly in your markup._

Read more about Tailwind: https://tailwindcss.com/

_Note: Opt-in functionality is limited to checking out the `epi

[2022-04-13 09:25] fabiankaegy opened #106 "Automatically enqueue frontend assets of blocks defined in `block.json` for dynamic blocks"
WordPress Core automatically enqueues frontend assets like the `viewScript` only on pages where the block is actively being used for static blocks. Dynamic blocks currently need to handle that step manually.

### Proposed Solution:

Since WordPress already registers all the assets we can add a check whether an asset exists and then automatically enqueue it from within the `render_callback` functio

[2022-04-19 12:48] dainemawer commented on #102
@fabiankaegy apologies for only getting back to you on this so late. How can we make this happen? Super exciting!

[2022-04-19 12:58] fabiankaegy commented on #102
@dainemawer https://github.com/WordPress/gutenberg/pull/37140 is the PR where the Webfonts API got introduced into Gutenberg. The same core is now in 6.0 and we need to determine what the best practices are we want to advise for its usage.

I'm happy to work on the setup to build some scaffolding but I would look to you for guidance on what we should do from the performance perspective to set up o

[2022-04-20 05:17] dainemawer commented on #102
@fabiankaegy sounds great to me! Could we setup a branch with the inherent functionality to start with so I can take a look? I can probably make further suggestions from that point. Lacking a bit of time to dive into the setup myself, but if you can get the foundation up and running which I can clone down I think we can make short work of this! Exciting times!

[2022-04-20 05:32] dainemawer opened #109 "Enhance script loading behaviour"
### Is your enhancement related to a problem? Please describe.

Script loading in WordPress really sucks. We have a few options available to us:

1. We can place scripts in the `<head>`
2. We can place scripts before the `</body>`
3. We can use the filter `script_loader_tag` to append `async` and `defer` onto scripts.

None of the options above, considering the WP ecosystem really has a huge effec

[2022-04-20 05:49] fabiankaegy commented on #109
@dainemawer I really like this idea. One thing that I will be very interested in is whether we can eventually make this work with assets that get registered via `block.json` files also.

With WordPress moving more and more towards a block first approach more of the scripts and stylesheets will get automatically enqueued by WordPress through the `block.json` files.

These registrations in `block.js

[2022-04-20 06:40] fabiankaegy commented on #102
@dainemawer I will set up something for you  👍. However, I just want to flag that there are some conversations currently that the API may be postponed again. See here: https://wordpress.slack.com/archives/C035NHLFUSY/p1650386056181749

There will be a post on make.wordpress.org soon going into depth on the various reasons.

It also currently isn't in the Betas. So I'm not confident we will get thi

[2022-04-20 09:33] darylldoyle commented on #109
@dainemawer, I think this idea is excellent, and I love the thought of being able to link block scripts in with these loading strategies @fabiankaegy!

I have a couple of thoughts.

Rather than replicating the way core enqueues files:

[code]

I think we could future-proof it and have all the args after the handle and filename passed as an array. This would make it easy to extend in the future wit

[2022-04-20 09:50] fabiankaegy commented on #109
While we are taking a look at the asset handling here I also want to call out this core API that is being used in blocks to make it possible to inline small assets: https://make.wordpress.org/core/2021/07/01/block-styles-loading-enhancements-in-wordpress-5-8/#inlining-small-assets

By providing a `path` with the script (can be added later via `wp_style_add_data( $style_handle, 'path', $file_path )

[2022-04-20 12:20] dainemawer commented on #105
@Firestorm980 @Nikki-Jones - I would be keen to help out on this!

[2022-04-20 13:12] iansvo commented on #105
I too would love to assist with this. I've had a crack at this recently at my past job and it would be interesting to revisit with some fresh perspectives.

I have a few thoughts that I've organized here below:

**Classnames in blocks**
One thing I would note though is there's no reason we can't just use utility classes in blocks that I can see. The fact that we have all of the block code in our t

[2022-04-20 13:25] Firestorm980 commented on #105
@iansvo I like the idea of having a generator command or similar. I think that makes more sense versus adding the files to the scaffold that would be required and having a hook or something like that. Like you said, it makes it more like `create-react-app` where you pick what parts you want and don't want, and I could see us extending that in the future with other options.

I have a few points I'd

[2022-04-20 14:50] dainemawer commented on #105
The conversation going on here already sounds promising.
From my side, I think we need to determine a couple of things before we get into the architecture:

1. Can we integrate `tailwind` into our build process easy enough (by extending `webpack.config.js` or `postcss.config.js`)
2. Can we ensure that the above configs have a base layer of configuration that we'd consider to be the "default" and a

[2022-04-20 16:23] Nikki-Jones commented on #105
@dainemawer @Firestorm980 @iansvo I love all the interest on this, get's me so excited!

Here's a little update on where we're at, sorry I didn't add this to the ticket initially. @Firestorm980 has a [POC](https://github.com/Firestorm980/wp-scaffold/tree/feature/tailwind) using an older version of tailwind. My goal is to update this to the latest version of the toolkit and tailwind to see how tail

[2022-04-21 05:17] dainemawer commented on #109
This is great feedback so far, thanks @fabiankaegy and @darylldoyle - I totally agree with both of your points!

1. We should ensure that this can be future-proofed (for Gutenberg), though considering how much is for ever changing in the Gutenberg functionality (thank goodness we have Fabian) - I'd like to make sure we are not defined by this and rather look to greater horizons to solve a much gre

[2022-04-21 05:23] dainemawer commented on #105
Thanks for the feedback here @Nikki-Jones ! Great stuff.

Okay so! Im going to add a checklist to this Github issue with some of our next steps. I think we should all be on the same page going forward before I do so, so Im putting this up for a vote, a simple 👍🏻  on this comment will do!

1. @Nikki-Jones to update Jons POC to the latest version of Tailwind - let's add your findings to this ticket,

[2022-04-21 05:25] dainemawer commented on #102
@fabiankaegy makes a ton of sense. Lets get ahead of the curve and we can pivot as necessary?

[2022-04-27 07:39] fabiankaegy opened #112 "WordPress 6.0 Compatibility Tracking"
This Issue is meant to be used to track any changes in the upcoming WordPress 6.0 release that might impact the scaffold or how we build themes.

## Related Issues:
- [x] #102
- [ ] #100
- [ ] #99

[2022-04-27 09:11] fabiankaegy commented on #112
## New Blocks:

- `core/avatar` - _Add a user's avatar._
- `core/query-no-results` - _Contains the block elements used to render content when no query results are found._
- `core/read-more` - _Displays the link of a post, page, or any other content-type._
- `core/comment-author-name` - _Displays the name of the author of the comment._
- `core/comment-content` - _Displays the contents of a comment.

[2022-04-27 09:27] fabiankaegy commented on #112
## Editor Settings

_No notable changes were identified._

<details>
<summary>View Complete Diff</summary>

[code]

</details>

[2022-04-27 09:54] fabiankaegy commented on #102
Just for context this here is the latest overview of the Webfont API in core: https://make.wordpress.org/core/2022/04/22/status-of-webfonts-api-for-wordpress-6-0-inclusion/

It looks like we will get a stripped-down version that only allows registration via `theme.json`. The actual underlying PHP API will not be available for anyone except for core because it is not jet stable enough.

I had tried

[2022-04-27 14:30] devinle commented on #105
Hey, @Nikki-Jones and @dainemawer

Just wanted to drop my notes here in regards to Frontity. As far as I'm aware, we won't be using it moving forward on new projects. We'd likely move toward some sort of Next.js project.

I'm hyped to see this taking shape! I wonder if these tasks warrant living in TeamWork to distribute and document?

[2022-04-28 11:45] fabiankaegy commented on #112
## Markup Changes in Blocks

_No notable changes were identified._

<details>
<summary>View Test Content</summary>

[code]
</details>

[2022-04-29 04:11] dainemawer commented on #105
Thats good to know, thanks for the update @devinle ! I don't think Teamwork is a bad idea at all! @devinle we may need your help with that, I cant create projects on Teamwork, don't have those super powers. Let me know if you can help us out there?

[2022-04-29 04:22] dainemawer commented on #105
@Nikki-Jones @devinle @Firestorm980 @iansvo here is a working doc that we can use to flesh this work out:

https://docs.google.com/document/d/1BEETids4ezBNmHJ64SgXwCcW8wLDRY-XaxfvjDunzKo/edit#heading=h.ayevlmr9vb1a

[2022-04-29 06:40] dsawardekar commented on #104
Following up with examples from the previous meeting.

**1) Fieldmanager Based Site Settings**

We can standardize on Site Settings using the Fieldmanager plugin. The settings can have default fields like Social URLs which are used on most sites. And this feature would only be enabled if the theme declares support for `site-settings`. Another common pattern is to have Site Settings available as a

[2022-04-29 11:07] iansvo commented on #105
@dainemawer Thanks for getting that started.

I put in some details just now for Goals, considerations, and next steps.

@devinle I personally would love to see this in a TW project once we get a few more things ironed out, should make it easier to keep track of.

[2022-04-29 15:54] iansvo commented on #105
@Nikki-Jones @dainemawer @Firestorm980 I'm pleased to report I was able to get some resourcing time to work on this a bit today.

I've created a POC branch using v3, looked at @Firestorm980's POC as well during creation. Here's an overview of where everything's at with it:

https://github.com/iansvo/wp-scaffold/tree/feature/tailwind-v3

- Initial integration in our build process complete
- POC for

[2022-04-29 17:14] Nikki-Jones commented on #105
@iansvo @dainemawer @Firestorm980 here is the POC I was working on with more of a hybrid solution for bringing values from the theme.json in to the tailwind.config. You will notice I'm defining custom theme.json layout values and then extending the maxWidth values.

https://github.com/10up/wp-scaffold/tree/feature/tailwind-v3-hybrid

Some notable features:
- The only plugin I brought in by default

[2022-04-29 18:00] iansvo commented on #105
@Nikki-Jones Yeah it looks like you weren't, thank god. It appears that I must've just not tested without the glob that catches root PHP files like I thought, or something. Plus the Tailwind docs indicate this actually _shouldn't_ be able to work, so that added to it I guess.

I found that simply removing that one piece from the content globs actually solved my problem (derp). Either way, I'm glad

[2022-04-29 18:37] Firestorm980 commented on #105
@iansvo @Nikki-Jones  Looking at the branches, I think we could modify this config to handle _most_ of the WP themes we deal with, and include some documentation on when / how to extend the config.

The following includes WP template hierarchy files for primary and secondary templates. If a theme needs a more specific template, it'd be up to the engineer to make sure they're included.

[code]

Tho

[2022-04-29 23:25] iansvo commented on #105
Solid! I think this should cover most use cases. I wonder if we could also
do single-*.php and similar name variants easily enough by glob?

On Fri, Apr 29, 2022 at 2:37 PM Jon Christensen ***@***.***>
wrote:

--

Regards,

*Ian Svoboda*
Senior Frontend Engineer · 10up, Inc <http://www.10up.com/> · @10up
<http://www.twitter.com/10up>

*email address: *i ***@***.******@***.***
*time zone: Eastern D

[2022-04-29 23:32] Nikki-Jones commented on #105
@iansvo @Firestorm980 feel free to open a PR against the branch with the updated content list and any namespace patterns you come up with :)

[2022-04-30 04:52] dainemawer commented on #105
So great to see progress and commitment here 🚀

A few small pieces of feedback from my side to help us get aligned:

[code]

@Nikki-Jones this is a great start! Any thoughts on adding https://github.com/tailwindlabs/tailwindcss-forms ? There are a lot of forms in WP (search, comments, etc)

[code]
@Firestorm980 is it possible to make this somewhat extensible? We can carry on providing as many edge

[2022-05-03 06:31] fabiankaegy opened #118 "Rethink inclusion of `manifest.json` inclusion in scaffold"
One thing I've noticed again and again over the past few years is that the default values in the `manifest.json` file don't get changed. Most sites don't require it and don't get built as PWA's at this point. And since more browsers started using the `theme_color` for styling bits of their UI this can lead to unfortunate visuals.

https://github.com/10up/wp-scaffold/blob/ce3177347c810bd0cba5f18e9d

[2022-05-03 11:16] fabiankaegy commented on #112
## Changes in the Core Block Library Stylesheets

As always there are some changes in the core block-library stylesheet. All these blocks have received updates to their stylesheets:

- [`core/code`](https://github.com/fabiankaegy/compare-wordpress-block-library-styles/pull/2/files#diff-245c67b277c022638f01bd84ee44893fd5f221babd092af5d437bc1bd64432c5)
- [`core/columns`](https://github.com/fabiankae

[2022-05-03 11:26] fabiankaegy commented on #112
As per the Make WordPress post: [Block Editor miscellaneous Dev Notes for WordPress 6.0](https://make.wordpress.org/core/2022/05/03/block-editor-miscellaneous-dev-notes-for-wordpress-6-0/)

For more info see [#40008](https://github.com/WordPress/gutenberg/pull/40008).

[2022-05-05 15:16] fabiankaegy opened #119 "Idea: Utilize `theme.json` to add our own custom settings to blocks"
The `theme.json` mechanism in core allows developers to enable/disable settings like color settings etc. globally or per block.

What if we were to extend the `theme.json` mechanism to allow us to place our own custom values in it that enable our own custom settings to all blocks.

Two examples that come to mind for this are custom spacing controls or even animation options.

The issue with the co

[2022-05-06 15:40] PypWalters opened #120 "TenUpToolkit\set_dist_url_path() function referenced but does not exist."
### Describe the bug

This function (`TenUpToolkit\set_dist_url_path`) does not exist in the wp-scaffold code base. We should either add the function or remove the 2 function calls.

### Steps to Reproduce

The function is wrapped in a conditional that would most likely not be true in most cases. The function is referenced in these 2 locations:
- https://github.com/10up/wp-scaffold/blob/4b7fe407b5

[2022-05-09 05:45] fabiankaegy commented on #112
As per the DEV Note about [Block markup updates for image, quote, list and group blocks](https://make.wordpress.org/core/2022/05/03/block-markup-updates-for-image-quote-list-and-group-blocks/):

[2022-05-12 14:10] claytoncollie-dmv commented on #104
@dsawardekar I really like this idea and was thinking about it for my projects where I created invididual classes to 1) Disable XML RPC, 2) Clean up the `wp_head`, 3) Remove emojis 4) Clean up the dashboard widgets. Things that could be standardized, even written as small stand-alone plugins. I always go back and forth on whether to include this sort of stuff in the 10up-Experience plugin or withi

[2022-05-13 07:44] dsawardekar commented on #104
@claytoncollie-dmv Separating bigger features into separate packages/plugins is definitely something we can do once we have switched to a modular scaffold. The examples you have noted are perfectly in the Goldilocks zone as wp-library features!

**RE: add_theme_support**

The `add_theme_support` has an advantage over separate packages because it works at runtime. For example, a different part of t

[2022-05-15 17:10] szepeviktor opened #123 "Idea: Switch from PHP4 thinking to PHP7 OOP thinking"
### Is your enhancement related to a problem? Please describe.

Give developers the feeling that they are developing a decent application.

### Designs

After several years of seeing what people call "WordPress plugin" I've concluded this is what one can do:
~~https://github.com/szepeviktor/small-project/blob/master/MAIN-FILE-PARTS.md~~
https://github.com/szepeviktor/starter-plugin/blob/master/REA

[2022-05-15 17:20] szepeviktor commented on #123
BTW Managing the whole WordPress installation could be done by Composer.
- wpackagist
- ffraenz/private-composer-installer
- koodimonni/composer-dropin-installer

Benefit: all files will be on record, no more stray files 😍

_this is an inspirational issue, if it sparks joy, I'm happy to talk to you_

[2022-05-24 07:25] #99 closed, assigned to joesnellpdx, tlovett1, fabiankaegy

[2022-05-25 05:50] #100 closed, assigned to fabiankaegy

[2022-05-30 04:00] dainemawer commented on #118
@fabiankaegy I tend to agree with you here. `theme-color` can be used as a `<meta />` tag in the `<head>` if so desired.

Icons, can also be easily linked to the document using a combination of `<meta />` tags and the `site.webmanifest` (at least for Windows).

+1 for removing `manifest.json` unless we intend to setup a PWA

[2022-06-02 15:01] Antonio-Laguna opened #128 "Remove `prefers-reduced-motion` file"
### Is your enhancement related to a problem? Please describe.

I think [this file](https://github.com/10up/wp-scaffold/blob/trunk/themes/10up-theme/assets/css/frontend/base/prefers-reduced-motion.css) should probably be removed from the scaffold:

[code]

I think this is using a very drastic approach and with very high specificity to just nuke animations which doesn't translate well with accessib

[2022-06-06 04:14] dainemawer opened #131 "Add Web Vital Tracking"
### Is your enhancement related to a problem? Please describe.

Often projects have no way of tracking [Web Vitals](https://web.dev/vitals/).
Third-party services are often used which can lead to bloat and complex configurations.

Using Googles: [https://github.com/GoogleChrome/web-vitals](https://github.com/GoogleChrome/web-vitals) - we can track web-vitals in the field, for free, using `1kb` wor

[2022-06-06 13:53] Firestorm980 commented on #128
@Antonio-Laguna I've been thinking about this one a bit since I saw it show up in my feed. I think all your points are valid. We _should_ be thinking more about our animations / transitions than having a blanket thing to just address every scenario. The `!important` adds an extra barrier as well.

The issue I have with this is I get the feeling it was originally added specifically _because_ we ten

[2022-06-09 12:40] fabiankaegy opened #134 "Enable loading of separate stylesheets for core block library"
@dainemawer and I want to investigate what impact switching to loading separate stylesheets for only the blocks currently on the page vs. loading the entire core block-library.css stylesheet has on our scaffold.

You can read more about the various options here in this Dev Note: https://make.wordpress.org/core/2021/07/01/block-styles-loading-enhancements-in-wordpress-5-8/

[code]

The thing we nee

[2022-06-09 12:42] #112 closed, assigned to fabiankaegy

[2022-06-09 12:44] fabiankaegy commented on #34
This can be closed. With the transition to using HMR in 10up-toolkit V3 this no longer is an issue

[2022-06-09 12:44] #34 closed, assigned to nobody

[2022-06-09 12:45] fabiankaegy commented on #18
The structure has already been added in #19

[2022-06-09 12:45] #18 closed, assigned to nobody

[2022-06-13 14:40] johnwatkins0 opened #138 "Include 10up-toolkit in NPM dependencies instead of devDependencies"
### Is your enhancement related to a problem? Please describe.

I suggest reconsidering this project's approach to dev dependencies vs. dependencies.

Any production build/deployment process for a project based on WP Scaffold should have a mechanism to exclude dependencies that are not needed within the automated job -- specifically, we should be able to run `npm install --production` in a build s

[2022-06-15 14:44] joesnellpdx commented on #120
@PypWalters

The function exists as part of 10up-toolkit

Can be found here: https://github.com/10up/10up-toolkit/blob/fd8b7ec9c0a4f7c22174608852d9c38dcbe37282/packages/toolkit/config/fast-refresh.php

More info here: https://github.com/10up/10up-toolkit/blob/fd8b7ec9c0a4f7c22174608852d9c38dcbe37282/packages/toolkit/README.md#basic-setup

CC: @nicholasio

[2022-06-15 15:00] nicholasio commented on #120
That's right, this file is created at build time by toolkit and it's what power hot mode reloading/fast refresh. It's only ever loaded when running locally. Toolkit also does not create that file when building for production

[2022-06-15 15:30] PypWalters commented on #120
Ah, that makes sense! Thanks for the info. Maybe we could add some comments around that part of the code to give some context?

[2022-06-29 11:05] barryceelen commented on #77
Fixed in https://github.com/10up/wp-scaffold/pull/136

[2022-06-29 11:05] #77 closed, assigned to benlk

[2022-07-08 09:55] fabiankaegy opened #147 "WordPress 6.0.1 Compatibility Tracking Issue"
This ticket is used to track all the changes that will get introduced in WordPress 6.0.1

https://make.wordpress.org/core/2022/07/05/wordpress-6-0-1-rc-1-is-now-available/

[2022-08-09 22:06] roseg43 opened #157 "Code Standards: Use long-form array syntax when declaring arrays"
### Is your enhancement related to a problem? Please describe.

As per the [WordPress PHP Coding Standards](https://developer.wordpress.org/coding-standards/wordpress-coding-standards/php/#declaring-arrays), arrays should be declared using `array()` syntax. If we're following these standards, we should identify any instances where we're declaring arrays using shorthand syntax and convert them to t

[2022-08-18 07:00] dainemawer commented on #105
Pull Request: https://github.com/10up/wp-scaffold/pull/156

[2022-08-26 04:03] dainemawer commented on #104
@dsawardekar this is a great proposal and makes a ton of sense to me. Would a setup like this be able to amend build tool configurations? Say `eslint` or `babel` ? Or even potentially output specific CSS partials depending on the configuration? With regards to Tailwind for instance we'd need to:

a) output a `tailwind.config.js`
b) install some extra `npm` packages
c) update CSS partials

I'd be i

[2022-08-26 16:20] Antonio-Laguna opened #161 "Fix/downgrade `lint-staged`"
### Describe the bug

`lint-staged` version 13 introduced on #140 seems to be using ESM and it's erroring locally for some people.

Investigate or downgrade to `11.2.6`

[code]

### Steps to Reproduce

Triggering the lint-staged from a commit should make this appear.

### Screenshots, screen recording, code snippet

_No response_

### Environment information

_No response_

### WordPress informati

[2022-09-08 17:26] thexavismith commented on #157
@roseg43 why long form syntax? It's common to use the short form array syntax in JavaScript. I'd say being able to use the same syntax across languages to accomplish similar things makes things more accessible. All this to say, please let me keep my brackets 🤣

[2022-09-08 19:18] roseg43 commented on #157
@smithtimmytim 😆 It's because scaffold uses the 10up - Default phpcs ruleset via https://github.com/10up/phpcs-composer. This ruleset extends https://github.com/WordPress/WordPress-Coding-Standards, and the WPCS states:

I linked the rule in the issue description if you want to explore more!

[2022-09-30 08:28] willhowat opened #163 "PHP get_colors() does not accept modern alpha channel syntax"
### Describe the bug

When using the style guide template,
The get_colors() function only accepts decimal values where an alpha channel is specified.
rgba(0, 0, 0, 0.5) / hsla(20%, 50%, 83%, 0.2)

This angers the linter which expects the more modern style, percentage values
rgba(0, 0, 0, 50%) / hsla(20%, 50%, 83%, 20%)

### Steps to Reproduce

1a. Add a colour to assets/css/frontend/global/colors.

[2022-10-08 13:01] pabamato commented on #157
@roseg43 the 10up-wp-scaffold uses 10up-default PHP coding standards which extends WordPress core standards and allows short array syntax.
See: https://github.com/10up/phpcs-composer/blob/master/10up-Default/ruleset.xml#L61

[2022-10-14 10:53] #76 closed, assigned to iamdharmesh

[2022-10-17 07:48] fabiankaegy opened #166 "WordPress 6.1 Compatibility Tracking"
This Issue is meant to be used to track any changes in the upcoming WordPress 6.1 release that might impact the scaffold or how we build themes.

[2022-10-31 11:24] #163 closed, assigned to willhowat